:root{
  --app-wrap-padding:2rem;
}
*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

body {
  background-color: #d4d8e5;
}

#root {
  max-width: 1480px;
  margin: 0 auto;
  padding: var(--app-wrap-padding);
  text-align: center
}

/* scroll bar design  */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* date picker css */

.react-datepicker__input-container{
  display: flex !important;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
}
.react-datepicker__calendar-icon{
 left: 5px; 
}


