:root{
  --app-wrap-padding:2rem;
}
*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

body {
  background-color: #d4d8e5;
}

#root {
  max-width: 1480px;
  margin: 0 auto;
  padding: var(--app-wrap-padding);
  text-align: center
}
